@{
    var status = (bool)ViewData["Status"];
    var statusColor = status == true ? "alert-success" : "alert-danger";
}

@if (Model is null)
{
    <hr />
    <div class="alert @statusColor" role="alert">@ViewData["Message"]</div>  
}