
@if (ViewData["Status"] != null && !string.IsNullOrWhiteSpace(ViewData["Message"]?.ToString()))
{
    <div class="mt-3 alert @((bool)ViewData["Status"] ? "alert-success" : "alert-danger") alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <span>@ViewData["Message"]</span>
    </div>
}