@{
    ViewData["Title"] = "Create Comment";
    var questionId = ViewContext.RouteData.Values["id"];
}

<div class="body">

    @await Html.PartialAsync("_NoModelAlert")

    <div class="row">
        <div class="col-md-6">
            <form asp-action="create">
                <input type="hidden" class="form-control" name="QuestionId" value="@questionId" />

                <div class="col-md-12 mb-2">
                    <label for="CommentText" class="form-label">Comment:</label>
                    <textarea class="form-control" placeholder="Enter comment" name="CommentText"></textarea>
                </div>

                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Create Comment</button>
                </div>
            </form>
        </div>
    </div>

</div>