@model IdealDiscuss.Models.Comment.CreateCommentViewModel
@{
    ViewData["Title"] = "Write Comment";
    var questionId = ViewContext.RouteData.Values["id"];
    //string questionText = ViewData["Question"]?.ToString();
}

<div class="body">

    @await Html.PartialAsync("_NoModelAlert")

    <div class="row">
        <div class="col-md-6">
            @*<h4>@questionText</h4>*@
            <hr />
            <form asp-action="create">
                <input type="hidden" class="form-control" asp-for="QuestionId" value="@questionId" />

                <div class="col-md-12 mb-2">
                    <label for="CommentText" class="form-label">Comment:</label>
                    <textarea class="form-control" placeholder="Enter comment" asp-for="CommentText"></textarea>
                    <span asp-validation-for="CommentText" class="text-danger"></span>
                </div>

                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Create Comment</button>
                </div>
            </form>
        </div>
    </div>

</div>