@model IdealDiscuss.Dtos.CommentDto.UpdateCommentDto
@{
	ViewData["Title"] = "Edit Comment";
}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<form asp-action="Edit">
				<div class="form-group">
					<label asp-for="CommentText" class="control-label"></label>
					<input asp-for="CommentText" type="text" class="form-control" />
					<span asp-validation-for="CommentText" class="text-danger"></span>
				</div>
				<div class="col-md-12">
					<button type="submit" class="btn btn-primary">Update</button>
				</div>
			</form>
		</div>
	</div>
</div>

