@model UpdateCommentViewModel
@{
	ViewData["Title"] = "Edit Comment";
}
<div class="body">

	<div class="row">
		<div class="col-md-6">
			<form asp-action="Edit">

				<div class="col-md-12 mb-3">
					<label asp-for="CommentText" class="control-label"></label>
					<textarea asp-for="CommentText" type="text" class="form-control"></textarea>
					<span asp-validation-for="CommentText" class="text-danger"></span>
				</div>

				<div class="col-md-12">
					<button type="submit" class="btn btn-primary">Update</button>
				</div>

			</form>
		</div>
	</div>
</div>

