@model ViewCommentDto

@{
    ViewData["Title"] = "Comment Detail";
}

<div class="body">

    @await Html.PartialAsync("_Alert", Model)

    @if (Model is not null)
    {
        <div class="card">
            <div class="card-body">
                <p class="lead">
                    @Model.CommentText
                </p>

                <hr />
                <div class="btn-group">
                    <a asp-controller="Comment" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Update</a>
                    &nbsp;
                    <form asp-action="DeleteComment" asp-route-id="@Model.Id">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    &nbsp;
                    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Back to list</a>
                </div>
            </div>
        </div>
    }
</div>