@model List<IdealDiscuss.Dtos.CategoryDto.ViewCategoryDto>
@{
    ViewData["Title"] = "Category List";
    int count = 1;
    var status = ViewBag.Status == false ? false : true;
}

<div>
    <a asp-controller="Category" asp-action="Create" class="btn btn-outline-primary">Add New Category</a>
</div>

@if (status is false)
{
    <p>ViewBag.Message</p>
}
else
{
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>Name</th>
                    <th scope="col">Description</th>
                    <th>ViewQuestions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td scope="row">@count</td>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>
                            <div class="btn-group">
                                <a asp-controller="Question" asp-action="Index" asp-route-id="@item.Id" class="btn btn-primary">ViewQuestions</a>
                            </div>
                        </td>
                    </tr>
                    count++;
                }
            </tbody>
        </table>
    </div>
}