@model List<IdealDiscuss.Dtos.CategoryDto.ViewCategoryDto>
@{
    ViewData["Title"] = "Category List";
    int count = 1;
}

<div>
    <a asp-controller="Category" asp-action="Create" class="btn btn-outline-primary">Add New Category</a>
</div>

@if (Model.Count == 0)
{
    <h3>No Record Found</h3>
}
else
{
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>Name</th>
                    <th scope="col">Action</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td scope="row">@count</td>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>
                            <div class="btn-group">
                                <a asp-controller="Category" asp-action="GetCategory" asp-route-id="@item.Id" class="btn btn-primary">View</a>
                            </div>
                        </td>
                    </tr>
                    count++;
                }
            </tbody>
        </table>
    </div>
}