@model IdealDiscuss.Models.Question.CreateQuestionViewModel

@{
    ViewData["Title"] = "Create A Question";
}

<div class="body">

    @await Html.PartialAsync("_NoModelAlert")

    <div class="row">
        <div class="col-md-6">
            <form asp-action="Create">
                <div class="col-md-12 mb-2">
                    <label class="control-label">Categories: </label>
                    <select asp-for="CategoryIds" class="form-control" asp-items="@ViewBag.Categories" multiple>
                        <option value="">--Select Categories--</option>
                    </select>
                    <span asp-validation-for="CategoryIds" class="text-danger"></span>
                </div>

                <div class="col-md-12 mb-2">
                    <label class="form-label">Question:</label>
                    <textarea class="form-control" placeholder="Enter your question" asp-for="QuestionText"></textarea>
                    <span asp-validation-for="QuestionText" class="text-danger"></span>
                </div>

                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Create Question</button>
                </div>
            </form>
        </div>
    </div>
</div>
