@model IdealDiscuss.Dtos.QuestionDto.CreateQuestionDto

@{
    ViewData["Title"] = "Create A Question";
}

<div class="body">

    @await Html.PartialAsync("_NoModelAlert")

    <div class="row">
        <div class="col-md-6">
            <form asp-action="Create">
                <div class="col-md-12 mb-2">
                    <label class="control-label">Categories</label>
                    <select asp-for="CategoryIds" class="form-control" asp-items="@((SelectList)ViewData["Categories"])" multiple>
                        <option value="">--Select Categories--</option>
                    </select>
                </div>

                <div class="col-md-12 mb-2">
                    <label for="QuestionText" class="form-label">Question:</label>
                    <textarea class="form-control" placeholder="Enter your question" name="QuestionText"></textarea>
                </div>

                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Create Question</button>
                </div>
            </form>
        </div>
    </div>
</div>
