@using System.Security.Claims;
@model IdealDiscuss.Dtos.QuestionDto.ViewQuestionDto

@{
    ViewData["Title"] = "Question Detail";
}

<div class="body">

    @await Html.PartialAsync("_Alert", Model)

    @if (Model is not null)
    {
        <dl class="row">
            <dt class="col-sm-4">
                Question
            </dt>

            <dd class="col-sm-8">
                @Model.QuestionText
            </dd>

            <dt class="col-sm-4">
                Image Url:
            </dt>

            <dd class="col-sm-8">
                @Model.ImageUrl
            </dd>
        </dl>
        <br />
        <div class="btn-group">
            @if (Model.UserId == Convert.ToInt32(User.FindFirst(ClaimTypes.NameIdentifier)?.Value))
            {
                <a asp-controller="Question" asp-action="DeleteQuestion" asp-route-id="@Model.Id" class="btn btn-success">Delete</a>
                <a asp-controller="Question" asp-action="Index" class="btn btn-secondary">Back to list</a>
            }
            else
            {
                <a asp-controller="Question" asp-action="Index" class="btn btn-secondary">Back to list</a>
            }
        </div>
    }
</div>






