@model IdealDiscuss.Dtos.QuestionReportDto.CreateQuestionReportDto
@{
	ViewData["Title"] = "Report Comment";
	var status = ViewBag.Status == false ? "alert-danger" : "alert-success";
}

@if (ViewBag.Message != null)
{
	<div class="alert @status alert-dismissible" role="alert">
		@ViewData["Message"]
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}

<div class="d-flex justify-content-center">

	<form asp-action="CreateCommentReport" asp-controller="CommentReport">
		<div class="form-group" type>
            <label asp-for="AdditionalComment" class="control-label"></label>
            <input asp-for="AdditionalComment" type="text" class="form-control" />
            <span asp-validation-for="AdditionalComment" class="text-danger"></span>
		</div>

		<div>
			<select type="checkbox" class="form-control" multiple="multiple" placeholder="----select flag----"
					name="FlagIds" required="required"
                    asp-items="@(new SelectList(@ViewBag.flagLists,"Id","FlagName"))">
			</select>
		</div>

		<div class="col-md-12">
			<button type="submit" class="btn btn-primary">Report Comment</button>
		</div>
	</form>
</div>