@model List<IdealDiscuss.Models.CommentReport.ViewCommentReportViewModel>
@{
    ViewData["Title"] = "CommentReport List";
    int count = 1;
}

@await Html.PartialAsync("_ListAlert", Model)

@if (Model is not null)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">CommentReporter</th>
                <th scope="col">AdditionalComment</th>
                <th scope="col">Action</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@count</th>
                    <td>@item.CommentReporter</td>
                    <td>@item.AdditionalComment</td>
                    <td>
                        <div class="btn-group">
                            <a asp-controller="CommentReport" asp-action="GetCommentReportDetail" asp-route-id="@item.Id" class="btn btn-primary">
                                View
                            </a>
                        </div>
                    </td>
                </tr>
                count++;
            }
        </tbody>
    </table>
}
