@model IdealDiscuss.Models.User.UserViewModel
@{
    ViewData["Title"] = "My Account Details";
}

<div class="text-center">

    <p class="text-dark">
        <span class="text-info">Name:</span> @Model.UserName
    </p>
</div>