@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*<h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@

    <h1>What is Science and Mythology?</h1>
    <ul>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat nihil ullam, magnam dignissimos eveniet consequuntur sint animi? Reiciendis excepturi molestias numquam, suscipit quaerat id soluta minus mollitia, voluptas perspiciatis unde.</li>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat nihil ullam, magnam dignissimos eveniet consequuntur sint animi? Reiciendis excepturi molestias numquam, suscipit quaerat id soluta minus mollitia, voluptas perspiciatis unde.</li>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat nihil ullam, magnam dignissimos eveniet consequuntur sint animi? Reiciendis excepturi molestias numquam, suscipit quaerat id soluta minus mollitia, voluptas perspiciatis unde.</li>
    </ul>

    <h1>What is the difference between dependency inversion and dependency injection?</h1>
    <ul>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat nihil ullam, magnam dignissimos eveniet consequuntur sint animi? Reiciendis excepturi molestias numquam, suscipit quaerat id soluta minus mollitia, voluptas perspiciatis unde.</li>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat nihil ullam, magnam dignissimos eveniet consequuntur sint animi? Reiciendis excepturi molestias numquam, suscipit quaerat id soluta minus mollitia, voluptas perspiciatis unde.</li>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat nihil ullam, magnam dignissimos eveniet consequuntur sint animi? Reiciendis excepturi molestias numquam, suscipit quaerat id soluta minus mollitia, voluptas perspiciatis unde.</li>
    </ul>

    
</div>
