@{
    ViewData["Title"] = "SignUp";
}

@if (ViewBag.Message != null)
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        @ViewBag.Message
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="d-flex justify-content-center">

    <form asp-action="SignUp" class="row g-3">
        <div class="col-md-6">
            <label for="UserName" class="form-label">UserName:</label>
            <input type="text" class="form-control" placeholder="Enter UserName" name="UserName">
        </div>
        <div class="col-md-6">
            <label for="Email" class="form-label">Email:</label>
            <input type="email" class="form-control" placeholder="Enter UserName" name="Email">
        </div>
        <div class="col-md-6">
            <label for="Password" class="form-label">Password:</label>
            <input type="password" class="form-control" placeholder="Enter password" name="Password">
        </div>
        <div class="col-md-6">
            <label for="pwd" class="form-label">Confirm Password:</label>
            <input type="Password" class="form-control" placeholder="Confirm password" name="ConfirmPassword">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }