@model IdealDiscuss.Models.Auth.SignUpViewModel
@{
    ViewData["Title"] = "SignUp";
}

<div class="d-flex justify-content-center">

    <form asp-action="SignUp" class="row g-3">

        <div class="col-md-6">
            <label asp-for="UserName" class="form-label">UserName:</label>
            <input type="text" class="form-control" placeholder="Enter UserName" asp-for="UserName">
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

        <div class="col-md-6">
            <label asp-for="Email" class="form-label">Email:</label>
            <input asp-for="Email" class="form-control" placeholder="Enter email address" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="col-md-6">
            <label asp-for="Password" class="form-label">Password:</label>
            <input type="password" class="form-control" placeholder="Enter password" asp-for="Password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="col-md-6">
            <label asp-for="ConfirmPassword" class="form-label">Confirm Password:</label>
            <input type="Password" class="form-control" placeholder="Confirm password" asp-for="ConfirmPassword">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
    </form>
</div>