@{
    ViewData["Title"] = "Create New Flag";
}

<div class="body">

    @await Html.PartialAsync("_NoModelAlert")

    <div class="row">
        <div class="col-md-6">
            <form asp-action="CreateFlag">
                <div class="col-md-12 mb-2">
                    <label for="FlagName" class="form-label">Flag Name:</label>
                    <input type="text" class="form-control" placeholder="Enter Flag name" name="FlagName">
                </div>

                <div class="col-md-12 mb-2">
                    <label for="Description" class="form-label">Description:</label>
                    <textarea class="form-control" placeholder="Enter description" name="Description"></textarea>
                </div>

                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Create Flag</button>
                </div>
            </form>
        </div>
    </div>
</div>
