@model IdealDiscuss.Dtos.RoleDto.ViewRoleDto;

<div class="body">
    <dl class="row">
        <dt class="col-sm-4">
            Role Name:
        </dt>

        <dd class="col-sm-8">
           @Model.RoleName
        </dd>

        <dt class="col-sm-4">
            Description:
        </dt>

        <dd class="col-sm-8">
            @Model.Description
        </dd>
    </dl>
</div>






