@model IdealDiscuss.Dtos.RoleDto.ViewRoleDto

<div class="body">
    <dl class="row">
        <dt class="col-sm-4">
            Role Name:
        </dt>

        <dd class="col-sm-8">
            @Model.RoleName
        </dd>

        <dt class="col-sm-4">
            Description:
        </dt>

        <dd class="col-sm-8">
            @Model.Description
        </dd>
    </dl>
    <br />
    <div btn-group>
        <a asp-controller="Role" asp-action="Update" asp-route-id="@Model.Id" class="btn btn-secondary">Update</a>
        &nbsp;
        <a asp-controller="Role" asp-action="Index" class="btn btn-primary">IndexPage</a>
        &nbsp;
        <a asp-controller="Role" asp-action="DeleteRole" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
        &nbsp;
    </div>

</div>






