@model IdealDiscuss.Dtos.RoleDto.ViewRoleDto
<div>
    <dl>
        <dd>
            RoleName
        </dd>
        <dt>
            @Model.RoleName
        </dt>
        <dd>
            Description
        </dd>
        <dt>
            @Model.Description
        </dt>
    </dl>
</div>
<div class="btn-group">
    <form asp-action="Update" method="get" asp-route-id="@Model.Id">
        <button type="submit" class="btn btn-Primary">Yes</button>
    </form>
    <br />
    <form asp-action="Index">
        <button type="submit" class="btn btn-danger">No</button>
    </form>
</div>
